html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(300deg, rgba(255, 0, 0, 0.859), orange, lightyellow);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 18px;
    box-shadow: 0 4px 40px rgb(40, 40, 40, 0.2);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.4);
    flex-basis: 400px;
    height: 550px;
    padding: 25px 40px;
}

.screen {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(35, 35, 35, 0.2);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 330px;
}

.calc-button-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(35, 35, 35, 0.2);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 25px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(35, 35, 35, 0.2);
    color: #ffffff;
    background: rgb(238, 17, 5);
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: #ffef78;
}

.double {
    flex-basis: 50%;
}

.triple {
    flex-basis: 75%;
}    